[ui]
	color = true
[color]
	ui = true
[push]
  default = current
[alias]
  # Simple aliases
  ci = commit
  br = branch
  bra = branch -avv
  co = checkout
  s = status -s
  st = status 
  a = add -v .
  as = !git add . && git status
  l = !git --no-pager lg -n 10 && echo ""

  # Sugar
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr%Creset %Cblue%cn%Creset' --abbrev-commit --date=relative
